$_15px: 0.937rem ;
$_16px: 1rem; 
$_36px: 2.25rem;
$_50px: 3.125rem;
$_19px: 1.1875rem;


$_18px: 1.125rem;
$_24px: 1.5rem;
$_14px: 0.875rem ;
$_30px: 1.875rem ;
$_12px: 0.75rem ;
$_60px: 3.75rem;
$_64px: 4rem;
$_48px: 3rem;
$_36px: 2.25rem;
$_24px: 1.5rem ;